asgiref==3.7.2
distlib==0.3.7
Django==4.2.7
filelock==3.12.4
keras==2.15.0
numpy==1.26.2
opencv-python==4.8.1.78
Pillow==10.1.0
platformdirs==3.11.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
virtualenv==20.24.5