{% load static %}
 <!--begin::Heading-->
<div class="card-px text-center pt-15 pb-15" id="start-diagnose">
    <!--begin::Title-->
    <h2 class="fs-2x fw-bold mb-0">Ketahui Penyakit Daun Kentang Anda</h2>
    <!--end::Title-->
    <!--begin::Description-->
    <p class="text-gray-400 fs-4 fw-semibold py-7">Klik Tombol dibawah -> Pilih Mode dan
    <br />Mulai Diagnosa.</p>
    <!--end::Description-->
    <!--begin::Action-->
    <a href="#" class="btn btn-primary er fs-6 px-8 py-4" data-bs-toggle="modal" data-bs-target="#kt_modal_two_factor_authentication">Start</a>
    <!--end::Action-->
</div>
<!--end::Heading-->
<!--begin::Illustration-->
<div class="text-center pb-15 px-5">
    <img src="{% static 'assets/media/illustrations/sigma-1/9-dark.png' %}" alt="" class="mw-100 h-200px h-sm-325px" />
</div>
<!--end::Illustration-->