{% load static %}
<div class="toolbar d-flex flex-stack mb-3 mb-lg-5 w-xl-450px" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack flex-wrap">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column me-5 py-2">
            <!--begin::Title-->
            <h1 class="d-flex flex-column text-dark fw-bold fs-3 mb-0">Macam-macam penyakit daun kentang</h1>
            <span class="text-gray-400 fs-6 fw-semibold">Anda dapat mencoba gambar sample tersebut.</span>
            <!--end::Title-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Container-->
</div>