{% extends "layout/base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block content %}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Row-->
            <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
                <!--begin::Col-->
                <div class="col-xl-12">
                    <!--begin::Engage widget 6-->
                    <div class="card flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-end h-xl-100" style="background: linear-gradient(to right, #000428, #004e92);">
                        <!--begin::Body-->
                        <div class="card-body d-flex justify-content-between flex-column ps-xl-18">
                            <!--begin::Heading-->
                            <div class="mb-20 pt-xl-13">
                                <!--begin::Title-->
                                <h3 class="fw-bold text-white fs-4x mb-5 ms-n1">Selamat Datang {{data.username}}</h3>
                                <!--end::Title-->
                                <!--begin::Description-->
                                <span class="fw-bold text-white fs-4 mb-8 d-block">di Aplikasi Identifikasi Penyakit Daun Kentang</span>
                                <!--end::Description-->
                                
                            </div>
                            <!--end::Heading-->
                            <!--begin::Action-->
                            <div class="mb-xl-10 mb-3">
                                {% comment %} <a href="{% url 'diagnosis' %}" class="btn btn-primary fw-semibold me-2">Mulai Diagnosa</a> {% endcomment %}
                                <a href="{% url 'history' %}" class="btn btn-color-white bg-transparent btn-outline fw-semibold" style="border: 1px solid rgba(255, 255, 255, 0.3)">Lihat Histori</a>
                            </div>
                            <!--begin::Action-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Engage widget 6-->
                </div>
                <!--end::Col-->
            
            </div>
            <!--end::Row-->

        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>

{% endblock content %}