{% extends "layout/base.html" %}
{% load static %}
{% block title %}Diagnosis{% endblock title %}

{% block content %}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        
    {% if result %}
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div id="kt_content_container" class="container-xxl">
            <div class="card shadow-lg">
                <!--begin::Card body-->
                <div class="card-body">
                    <!--begin::Result Diagnosis-->
                    {% include "diagnosis/partials/result-diagnose.html" %}
                    <!--end::Result Diagnosis-->                        
                </div>
                <!--end::Card body-->
            </div>
        </div>
    </div>
                        
    {% else %}

    <!--begin::Toolbar-->
    {% include "diagnosis/partials/toolbar.html" %}                  
    <!--end::Toolbar-->

    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div id="kt_content_container" class="container-xxl">
            <div class="d-flex flex-column flex-xl-row">
                
                <!--begin::Sample-->
                <div class="d-flex flex-row-fluid me-xl-9 mb-10 mb-xl-0">
                    {% include "diagnosis/partials/samples.html" %}                  
                </div>
                <!--end::Sample-->

                <!--begin::Sidebar-->
                {% include "diagnosis/partials/sidebar.html" %}
                <!--end::Sidebar-->

            </div>
        </div>
    </div>
    {% endif %}

</div>
<!--end::Post-->

{% endblock content %}

{% block modals %}
{% include "diagnosis/partials/modals.html" %}
{% endblock modals %}