{% extends "layout/base.html" %}
{% load static %}
{% block title %}Diagnosis{% endblock title %}

{% block content %}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Card-->
            <div class="card shadow-lg">
                <!--begin::Card body-->
                <div class="card-body">
                    {% if result %}

                    <!--begin::Result Diagnosis-->
                    {% include "diagnosis/partials/result-diagnose.html" %}
				    <!--end::Result Diagnosis-->
                    
                    {% else %}
                    
                    <!--begin::Start Diagnosis-->
                    {% include "diagnosis/partials/start-diagnose.html" %}                   
				    <!--end::Start Diagnosis-->
                   
                    {% endif %}

                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
</div>
<!--end::Post-->
{% endblock content %}

{% block modals %}
{% include "diagnosis/partials/modals.html" %}
{% endblock modals %}

{% block custom_js %}
<script src="{% static 'assets/js/custom/utilities/modals/two-factor-authentication.js' %}"></script>
{% endblock custom_js %}